@page "/admin/inventory/lowstocknotification"
@inject IRepairDeskApiClient httpClient
@inject IToastService toastService
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navMan

@if (isAdmin)
{
    <h3>Low Stock Notification</h3>

    @if (productData == null || productData.Items == null)
    {
        <p>Loading...</p>
    }
    else if (!productData.Items.Any())
    {
        <p>No items with low stock.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Current Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in productData.Items)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pagination">
            <button class="prev-btn" disabled="@IsFirstPage" @onclick="GoToPreviousPage">Previous</button>
            <span class="page-info">Page @productData.CurrentPage of @productData.TotalPages</span>
            <button class="next-btn" disabled="@IsLastPage" @onclick="GoToNextPage">Next</button>
        </div>
    }
}
else
{
    <div>Unauthorized</div>
}


@code {
    private ClaimsPrincipal principal { get; set; }
    private bool isAdmin { get; set; }

    private ProductListModelPagedResult productData;
    private bool IsFirstPage => productData.CurrentPage == 1;
    private bool IsLastPage => productData.CurrentPage == productData.TotalPages;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authStateProvider.GetAuthenticationStateAsync();
            principal = authState.User;
            if (!principal.Identity.IsAuthenticated)
            {
                navMan.NavigateTo("/user/login");
            }
            else
            {
                isAdmin = principal.HasRole("admin");
                if (isAdmin)
                {
                    await LoadPage(1);
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }


    /* pagination */
    private async Task LoadPage(int pageNumber)
    {
        try
        {
            productData = await httpClient.GetLowStockNotificationProductsPageAsync(pageNumber);
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

    private async Task GoToPreviousPage()
    {
        if (!IsFirstPage)
        {
            await LoadPage(productData.CurrentPage - 1);
        }
    }

    private async Task GoToNextPage()
    {
        if (!IsLastPage)
        {
            await LoadPage(productData.CurrentPage + 1);
        }
    }
}
